/*
 * Este é o estilo para o componente principal App.js,
 * geralmente usado para centralizar o conteúdo inicial do React.
 */
.App {
  text-align: center;
}

/*
 * Estilo para a logo padrão do React.
 * Eu defino a altura dela e desabilito eventos de clique,
 * para que não interfira com outros elementos.
 */
.App-logo {
  height: 40vmin; /* 'vmin' é uma unidade relativa ao menor lado da tela */
  pointer-events: none;
}

/*
 * Aqui eu verifico se o usuário prefere movimentos reduzidos.
 * Se não houver preferência, eu aplico a animação de giro na logo.
 */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
 * Estilo para o cabeçalho padrão do 'create-react-app'.
 * Como já criamos nosso próprio cabeçalho, esta classe não está sendo
 * usada nas nossas páginas atuais.
 */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
 * Estilo para o link padrão ("Learn React").
 */
.App-link {
  color: #61dafb; /* O azul padrão do React */
}

/*
 * Aqui eu defino a animação 'App-logo-spin'.
 * É uma animação simples que faz a logo girar 360 graus
 * de forma contínua.
 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}